#formErrorMessage {
  color: red;
  cursor: pointer;
  font-size: 0.7em;
  font-style: italic;
}

#createCategory form {
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: 25% 50% 15%;
  justify-content: space-between;
}
