a {
  color: #98B9F2;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

body a {
  color: #306BAC;
  text-decoration: none;
}

body > * {
  padding: 0 15px;
}

button {
  background-color: #98B9F2;
  border: 0;
  color: #141B41;
  cursor: pointer;
  padding: 7px;
}

nav {
  align-items: center;
  background-color: #306BAC;
  border-bottom: 1px solid #ccc;
  color: #fff;
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
}

#createCategory {
  align-items: center;
  display: grid;
  grid-template-columns: 80% 15%;
  justify-content: space-between;
}

#createCategory input {
  width: 60vw;
  padding: 4px;
}

#createCategoryErrors,
#categoryErrorMessages {
  color: red;
  cursor: pointer;
  font-size: 0.7em;
  font-style: italic;
}

#createCategory form {
  display: grid;
  grid-template-columns: 25% 50% 15%;
  justify-content: space-between;
}

#userSignIn {
  text-align: right;
}

.catgeory-index-header {
  border-bottom: 1px solid #ccc;
}

.catgeory-index-list {
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}
