{% extends 'layout/index.html' %}

{% block content %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">Items for Category {{ category.name }}</span>

      <a href="{{ url_for('CategoryShow', name=category.name) }}"><p>View Category</p></a>
    </div>
  </div>



  <div id='createItem' class='hidden'>
    <form>
      <input type="text" aria-label="Item Title" name="title" placeholder="Item Title">
      <input type="hidden" name="category_id" value="{{ category.id }}">

      <textarea aria-label="Item Description" name="description" placeholder="Item Description"></textarea>

      <button>Add new item to category {{ category.name }}</button>
    </form>
    <p id='itemErrors'></p>
  </div>

  <div class='catgeory-index-list'>
    {% for item in items %}
      <h3>{{ item.title }}</h3>
      <a href="{{ url_for('ItemShow', title=item.title) }}">
        <p>View Item</p>
      </a>
    {% endfor %}
  </div>
{% endblock %}
