{% extends 'layout/index.html' %}

{% block content %}
  <div class="card">
    <div class="card-content">
      <a class="btn waves-effect waves-light right"
         href="{{ url_for('CategoryShow', name=category.name) }}">
        View {{ category.name }}
      </a>
      <span class="card-title">Items for category {{ category.name }}</span>

      <ul class="collection">
        {% for item in items %}
          <li class="collection-item">
            <h6>{{ item.title }}</h6>

            <a href="{{ url_for('ItemShow', title=item.title) }}"><p>View Item</p></a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="card-action">
      <div id='createItem' class='hidden'>
        <form>
          <input type="hidden" name="category_id" value="{{ category.id }}">
          <input type="text" aria-label="Item Title" name="title" placeholder="Item Title">

          <textarea aria-label="Item Description" name="description" placeholder="Item Description"></textarea>

          <button class="btn waves-effect waves-light">
            Create New Item
          </button>
        </form>
        <p id='itemErrors'></p>
      </div>
    </div>
  </div>
{% endblock %}
