{% extends 'layout/index.html' %}

{% block content %}
  <h1>Item: {{ item.title }}</h1>

  <h3>Description:</h3>
  <p>{{ item.description }}</p>

  <div id='editItem' class="hidden">
    <button id='editDisplay'>Edit Item</button>
    <form class='hidden'>
      <input type="hidden" name="id" value='{{ item.id }}'>
      <input type="text" aria-label="Item Title" name="title" placeholder="Item Title"
             value="{{ item.title }}">

      <textarea aria-label="Item Description" name="description"
                placeholder="Item Description">{{ item.description }}</textarea>

      <select aria-label="Item Category" name="category_id">
        {% for category in categories %}
          <option value="{{ category.id }}" selected='{{ category.id == item.category_id }}'>
            {{ category.name }}
          </option>
        {% endfor %}
      <select>

      <button>Update Item</button>
    </form>
    <p id='itemErrors'></p>
  </div>

  <div id="itemDelete" class='hidden'>
    <button>Delete</button>
    <p id='deleteErrors'></p>
  </div>
{% endblock %}
