<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1">

    <meta name="theme-color" content="#cccccc"/>
    <meta name="Description" content="Basic Flask Web App">

    <!-- Normalize.css for better cross-browser consistency -->
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />

    <!-- CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <!-- Google Firebase SDKs.  Used for Login -->
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-auth.js"></script>

    <!-- JS File -->
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>

    <title>Basic Flask Web App</title>
  </head>

  <body>
    <a href='/'><p>All Categories</p></a>
    <hr />

    {% block content %}
    {% endblock %}
  </body>
</html>
